<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Könyvkölcsönzés nyilvántartás</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="borrow" class="active"><a href="/borrow/new">Kölcsönzés</a></li>
                <li id="return"><a href="/borrow/rentals">Könyv visszavétele</a></li>
                <li id="newBook"><a href="/books/new">Új könyv felvétele</a></li>
                <li id="editBook"><a href="/books/list">Könyvek szerkesztése</a></li>
                <li id="userEdit"><a href="/users/list">Felhasználók kezelése</a></li>
                <li><a href="/logout">Kijelentkezés</a></li>
            </ul>
        </div>
    </div>
</nav>