<%- include('header') %>
<div class="row">
    <div class="large-12 columns">
        <h1>Új könyv felvétele</h1>
    </div>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <label for="konyvCim" class="col-sm-2 control-label">Könyv címe</label>
        <div class="col-sm-10">
            <input name="konyvCim" id="konyvCim" type="text" class="form-control" placeholder="Nyolcvan nap alatt a Föld körül" />
        </div>
    </div>
    <div class="form-group">
        <label for="konyvSzerzo" class="col-sm-2 control-label">Könyv szerzője</label>
        <div class="col-sm-10">
            <input name="konyvSzerzo" id="konyvSzerzo" type="text" class="form-control" placeholder="Jules Verne" />
        </div>
    </div>
    <div class="form-group">
        <label for="kiadasEve" class="col-sm-2 control-label">Kiadás éve</label>
        <div class="col-sm-10">
            <input name="kiadasEve" id="kiadasEve" type="text" class="form-control" placeholder="1873" />
        </div>
    </div>
    <div class="form-group">
        <label for="mufaj" class="col-sm-2 control-label">Műfaj</label>
        <div class="col-md-10">
            <select name="mufaj" id="mufaj" class="form-control">
                <option>Kalandregény</option>
                <option>SciFi</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="ismerteto" class="col-sm-2 control-label">Ismertető</label>
        <div class="col-sm-10">
            <textarea name="ismerteto" id="ismerteto" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Felvétel</button>
        </div>
    </div>
</form>

<script>
    $("li","ul.navbar-nav").each(
            function(index,val){
                $(val).removeClass('active');
            }
    );
    $("#borrow").addClass("newBook");
</script>
<%- include('footer') %>